/* RESET */

*{
    margin: 0;
    padding: 0;
}
/* FAMILIA DE FUENTES Y PPTS */
/*fuente h1: Fira Sans sans-serif
Cuerpo y otros elementos de texto: Sarabun, sans-serif*/

/* PROPIEDADES DEL BAKCGROUND */

body {
	background: linear-gradient(-45deg, #d24c24, #b6255d, #1398c8, #021914);
	background-size: 100%;
	animation: gradient 13s ease infinite;
	height: 100%;
    overflow-x: hidden;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Estilons de botones */

.btnModificado{
    color: whitesmoke;
    background-color:#b6255d;
    border-color: #b6255d;
}
.btnHover:hover{
    color: rgb(0, 0, 0);
    background-color:#de749d;
    border-color: #de749d;
    box-shadow: 0 0 20px rgb(255, 255, 255)
}
.buttonMainContainer{
    margin-top: 10%;
}

/* Menú y elementos del header */

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: black;

}
.menu ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
}
nav ul li{
    padding-left: 15px;
    align-items: center;
    justify-content: start;
    margin-top: 4%;
    margin-left: 2%;
}
nav ul li a{
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    border: 2px;
    font-family: fira sans ;
    font-size: 18px;
    color: rgb(255, 255, 255);

}
.activo{
    text-decoration: underline;
}
.piezasHeader{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.iconosRedes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
}
.iconosRedes img{
    padding: 10px;

}
.logo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

/* Estilos de textos */

.titleH1{
    font-family: Fira Sans, sans-serif;
    font-weight: 800;
    font-size: 40px;
    color: rgb(209, 209, 217);
    animate__slideInLeft
}

.ordenMain{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 10% 8%;
}
.subtituloMain{
    font-family: Fira Sans, sans-serif;
    font-size: 23px;
    color: rgb(209, 209, 217);
    text-align: left;
    padding: 20px;
    animate__pulse
}
.tituloGrande{
    font-family: Fira Sans, sans-serif;
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    color: rgb(209, 209, 217);
    padding: 3.5%;
    margin: 0 auto;

}
.subtitulo{
    font-family: Fira Sans, sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: rgb(209, 209, 217);
    text-align: center;
    margin: 35px 25px 0 25px;
}
.cuerpo{
    font-family: sarabun, sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: rgb(209, 209, 217);
    text-align: center;
    margin: 50px 80px;
}
.cuerpoJustificado {
    text-align: left;
    color: rgb(193, 188, 188);
    font-family: sarabun, sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin: 100px;
}
.tituloContacto{
    font-family: Fira Sans, sans-serif;
    font-size: 23px;
    font-weight: 800;
    color: rgb(209, 209, 217);
    text-align: left;
    margin: 5% 7%;
}

/* Textos sin formato de espaciados*/

.subtituloLimpio{
    font-family: Fira Sans, sans-serif;
    font-weight: 100;
    font-size: 23px;
    color: rgb(209, 209, 217);
    padding-bottom: 20px;
    margin-left: 20px;
}
/* Posicionamiento de imágenes y video */

.flexMainDescripcion{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: space-between;
}
.centrado{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
.mosaicoPortfolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;

}
.mosaicoPortfolio img{
    max-width: 80%;
    height: auto;
    margin: 2%;
    padding: 0 auto;
    border-radius: 7px;
}
.elementoVideo{
    margin-bottom: 5%;
}
.mosaicoClientes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    color: aliceblue;
}
.mosaicoClientes img{
    width: 60%;
    height: auto;
    margin: 20px;
    padding: 0 auto;
    background-color: rgb(255, 255, 255);
    border-radius: 7px;

}
.perfil img{
    width: none;
    max-height: 300px;
    border-radius: 500px;
    padding: 40px;
}
.perfil{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}
footer{
    font-family: sarabun, sans-serif;
    font-size: 16px;
    padding: 10px;
    margin: 20px;
    color: rgb(130, 130, 131);
    text-align: center;

}

/* Sección Contacto y ordenamiento forms - mapa - textos */

.centrado{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}
input{
    display: inline-block;
    font-family: sarabun, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-align: left;
    align-items: flex-start;
    margin: 2% 7%;
    padding: 2%;
    min-width: none;
    max-width: 0 auto;
    border-radius: 7px;
}
textarea{
    display: inline-block;
    font-family: sarabun, sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    text-align: left;
    align-items: flex-start;
    margin: 5% 7%;
    padding: 3%;
    min-width: 0 auto;
    max-width: 0 auto;
    min-height: 300px;
    max-height: 600px;
    border-radius: 7px;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: left;
    align-items: stretch;
    padding: 30px;

}
.mapa{
    width: 100%;
    height: 700px;
    margin: 0 auto;
}
.boxMain{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cardModificada{
    height: 750px;
}
.rowCenter{
    display: flex;
    align-items:stretch;
    margin: 0 auto;
}
.datosUbicacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}
/* Formato de Tabla */

table {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
    text-align: left;
}
th, td {
    font-size: 16px;
    font-family: sarabun, sans-serif;
    font-size: 17px;
    color: rgb(255, 255, 255);
    width: 25%;
    text-align: left;
    vertical-align: middle;
    border: 1px solid rgb(187, 184, 184);
    border-collapse: collapse;
    padding: 15px;
    caption-side: bottom;
}

/* Visibles fuera de body */

.whatsappFlotante img {
    padding: 18px 30px;
    max-width: 60px;
    position: fixed;
    z-index: 99;
}

/* Grids contacto */

/* MEEDIA QUERIES TABLET */

@media screen and (max-width: 1054px){
    /* Header */
    header{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        background-color: black;
        align-items: center;
    
    }
    .menu ul{
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    nav ul li{
        padding-left: 0px;
        align-items: center;
        justify-content: center;
        margin: 15px;
    }
    nav ul li a{
        display: inline-block;
        text-decoration: none;
        font-weight: 800;
        border: 2px;
        font-family: fira sans ;
        font-size: 18px;
        color: rgb(255, 255, 255);
    
    }
    .piezasHeader{
        display: flex;
        flex-direction: column;
    }
    .iconosRedes{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 auto;
        justify-content:flex-start;
        max-width: 900px;
    }
    .iconosRedes a{
        margin: 0 auto;
    }
    .logo{
        display: flex;
        flex-direction: column  ;
        flex-wrap: nowrap;
        justify-content: center;
        margin:0 auto;
    }

    /* BODY INDEX  */

    .ordenMain{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        margin: 30% 8%;
        text-align: center;
    }
    .subtituloMain{
        text-align: center;
    }
    .flexMainDescripcion{
        align-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    .perfil img{
        min-width: none;
        max-height: 300px;
        border-radius: 500px;
        padding: 40px;
    }
    .perfil{
        display: flex;
        flex-direction: column;
    }
    footer{
        font-family: sarabun, sans-serif;
        font-size: 16px;
        padding: 10px;
        margin: 20px;
        color: rgb(130, 130, 131);
        text-align: center;
    
    }

    /* PÁGINA CLIENTES TABLET */

    .mosaicoClientes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: center;
        text-align: center;
        color: aliceblue;
    }
    .mosaicoClientes img{
        max-height: 300px;
        margin: 30px 20px;
        padding: 0 auto;
        background-color: rgb(255, 255, 255);
        border-radius: 7px;
    
    }
    .cuerpo{
        text-align: center;
        color: rgb(209, 209, 217);
        font-family: sarabun, sans-serif;
        font-size: 15px;
        margin: 100px 80px;
    }
}