/*BOTONES*/

.btnModificado{
    color: whitesmoke;
    background-color:#b6255d;
    border-color: #b6255d;
    &:hover{
        color: rgb(0, 0, 0);
        background-color:#de749d;
        border-color: #de749d;
        box-shadow: 0 0 20px rgb(255, 255, 255)

    }
}
.buttonMainContainer{
    margin-top: 10%;
}

.centrarBotonesPresu{
    margin: 0 auto;
    padding: 0px, 20px;

}
.btnInt{
    margin: 20px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(255, 255, 255);
}
.centradoBtn{
    align-items: center;
}
