$propiedades-body: (
    color-fondo-base: #ffffff,
    fondo-degradado: linear-gradient(-45deg, #a724d2, #cc2364, #4f2b78, #021914),
    tamano-background: 100%,
    tiempo-animacion-corto: gradient 7s ease infinite,
    tiempo-animacion-medio: gradient 13s ease infinite,
    tiempo-animacion-largo: gradient 20s ease infinite,
)